p {
	margin: 10px 0;
}

.container {
	margin:40px auto;
}
.container.wall {
	margin:10px auto;
}

form {
	margin: 20px 50px;
}


.breadcrumbs {
	font-size:20px;
	font-weight:700;
	color:#e678db;
}

.breadcrumbs:hover {
	color:#ea15d5;
}

.messages {
	border: 1px solid #dc3545;
	padding:5px 5px 5px 35px;
	background-color:#f8d7da;
}
.messages p {
	color: #dc3545;
	font-size: 20px;
	font-weight:700;
}


nav.navbar {
	font-weight:600
}

.navbar-brand {
	width:70%;
}

.navbar-text {
	font-size:18px;
}

label[for="post_message"] {
	font-weight:700;
	font-size:22px;
}
label[for="post_comment"] {
	font-weight:400;
	font-size:18px;
}

.post p {
	font-size:16px;
}

.comments {
	margin-left:40px;
}

.post_info {
	display:flex;
	justify-content:space-between;
	flex-wrap:no-wrap;
	align-items:center;
	background-color:#f1ddf1;
	padding:20px;
}
.comment_info {
	display:flex;
	justify-content:start;
	flex-wrap:no-wrap;
	align-items:center;
}

.author_info {
	margin-right:15px;
}

.post {
	background-color: whitesmoke;
	padding:10px;
	margin:8px 0;
}

.delete_btn .btn-danger {
	background-color: #e678db;
	border-color: #e678db;
}
.delete_btn form {
	margin: 0;
}
.delete_btn form .form-group {
	margin: 0;
}

.form-group .btn-secondary-dark {
	background-color: #2f3235;
	border-color: #2f3235;
}